* {
    font-family: 'Manrope', sans-serif;

}


/* header section */

.header-section {
    text-align: center;
    margin-bottom: 28px;
}

h1,
h2 {
    color: hsl(233, 13%, 49%);
}

h5 {

    color: #9ea3ef;
}


p {
    color: rgb(179, 181, 198);
    ;
}

.header-section p {
    margin-bottom: 50px;
}



/* submit form */

#submit-form {
    width: 213px;
    height: 25px;
    margin-bottom: 25px;
}

.button {
    width: 100px;
    height: 42px;
    border: 1px transparent;
    background-color: #9ea3ef;
    color: white;
    font-weight: bold;
}


/* image container*/

.image-container {
    text-align: center;
    margin-bottom: 83px;
}

#couple-img {
    width: 39%;
    height: auto;
}


/* benefits-container */

.benefits-box {
    width: 100%;
    height: 263px;
    background-color: rgb(245, 245, 245);
    padding-top: 30px;
    text-align: center;
}


.benefits-box h5 {
    text-align: center;
}


/* icons container */

.icons-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}




/* toggle */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    text-align: center;
    padding: 60px 20px;
}

.title {
    font-size: 32px;
    color: hsl(233, 13%, 49%);
    /* grayish blue */
}


.switch input {
    opacity: 0;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 32px;
    position: relative;
    cursor: pointer;
}

.slider {
    position: absolute;
    background: linear-gradient(180deg,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 35px;
}

.slider:hover {
    background: hsl(236, 72%, 79%)
}

.slider::before {
    position: absolute;
    content: '';
    background-color: #FFF;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: .4s;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.pricing {
    color: hsl(234, 14%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}

.pricing label {
    margin: 0 20px;
}

.pricing-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pricing-box {
    background-color: #FFF;
    padding: 50px 40px;
    border-radius: 12px;
    align-self: center;
}

.box-title {
    color: hsl(233, 13%, 49%);
    /* grayish blue */
    font-size: 18px;
    margin-bottom: 30px;
}

.price-annually,
.price-monthly {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: hsl(232, 13%, 33%);
    /* dark grayish blue */
}

.price-monthly {
    display: none;
}

.price {
    font-size: 65px;
    padding-left: 7px;
}

ul {
    list-style: none;
    padding: 35px 0px;
}

ul li {
    color: hsl(233, 13%, 49%);
    /* grayish blue */
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 18px 0;
}

ul li:first-child {
    border-top: 1px solid hsl(234, 14%, 74%);
}

a {
    border: none;
    background: linear-gradient(180deg,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%));
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border: 1px solid transparent;
}

a:hover {
    color: hsl(237, 63%, 64%);
    background: transparent;
    border-color: hsl(237, 63%, 64%);
}

.pricing-box.featured {
    background: linear-gradient(180deg,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%));
    transform: scaleX(1.05);
    padding: 80px 40px;
}

.pricing-box.featured p {
    color: #FFF;
}

.pricing-box.featured ul li {
    color: #FFF;
    /* border-color: ; */
}

.pricing-box.featured a {
    background: #FFF;
    color: hsl(237, 63%, 64%);
}

.pricing-box.featured a:hover {
    color: #FFF;
    border-color: #FFF;
    background: transparent;
}



/* TESTIMONY CONTAINER */
.testimony-box {
    text-align: center;
    font-style: italic;

}

.testimony-container {
    margin-bottom: 100px;
}


/* Company logo's */

.company-icons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}











@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .price {
        font-size: 50px;
    }

    .pricing-box {
        padding: 40px 30px;
    }

    .pricing-box.feautred {
        padding: 70px 30px;
    }
}

@media only screen and (max-width: 820px) {
    .pricing-main {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .price {
        font-size: 50px;
    }

    .pricing-box {
        padding: 50px 50px;
    }

    .pricing-box.featured {
        transform: scaleX(1);
        padding: 50px 50px;
    }
}